/**
 * Created by Rayr Lee on 2018/2/27.
 */

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    .item {
        margin-top: 20px;
        .rayr-btn {
            margin-right: 10px;
        }
        .title {
            width: 120px;
            flex: none;
        }
    }
    .item2 {
        display: flex;
        margin-top: 20px;
        .rayr-btngroup {
            margin-right: 10px;
        }
    }
}
