$primary: #5797FB;

$default-border: #DBDBDB;

$warn-bg: #FFA023;
$warn-border: #FC9153;

.rayr-btn {
    display: inline-block;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    border: 1px solid $default-border;
    padding: 6px 20px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    transition: all .2s;
    font-weight: 200;
    &:active {
        background-color: darken(#fff, 10%);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
    .fa {
        font-weight: 100;
        margin-right: 5px;
    }
}

.rayr-btn-primary {
    background-color: $primary;
    color: #fff;
    border: 1px solid $primary;
    &:active {
        background-color: darken($primary, 10%);
    }
}

.rayr-btn-warning {
    background-color: $warn-bg;
    color: #fff;
    border: 1px solid $warn-border;
    &:active {
        background-color: darken($warn-bg, 10%);
    }
}

//反选择

.rayr-btn-primary.rayr-btn-inverse {
    border-color: $default-border;
    background-color: #fff;
    color: $primary;
    &:active {
        background-color: $primary;
        color: #fff;
        border: 1px solid $primary;
    }
}

.rayr-btn-warning.rayr-btn-inverse {
    background-color: #fff;
    color: $warn-bg;
    &:active {
        background-color: $warn-bg;
        color: #fff;
        border: 1px solid $warn-border;
    }
}

//尺寸
.rayr-btn-sm {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.rayr-btn-xs {
    padding: 2px 8px;
    font-size: 12px;
}

//按钮组
.rayr-btngroup {
    position: relative;
    display: inline-block;
    .rayr-btn {
        margin: 0 !important;
        border-radius: 0;
        margin-left: -1px !important;
        &:first-child {
            margin-left: 0 !important;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }
        &:last-child {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
        &:active {
            border-color: #D9D9D9;
            background-color: #D9D9D9;
            color: #595959;
        }
    }
}
